body{
	background-color:gray;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 2px 2px red;
}

h2{
    text-align: center;
}

li{
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sorry{
    text-decoration: underline;
    color: red;
}