body{
    background-image: url(images/the\ witcher.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.navbar{
    padding: 15px;
}

.navbar a{
    float: right;
    color: white;
    text-decoration: none;
}

.column p{
    font-size: 14px;
}

.column{
    color: white;
    width: 400px;
    padding-top: 150px;
}

.first{
    font-size: 12px;
    text-transform: uppercase;
}
.second{
    padding: 5px;
    margin-top: 30px;
}

.button{
    padding: 20px;
    margin-top: 30px;
}

